* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.is-completed{
    text-decoration: line-through;
    text-decoration-color: rgb(197, 197, 178);
    animation: animar-tachado 1s ease-in-out ;
}


@keyframes animar-tachado {
  0% { 
    text-decoration-color: white; 
    text-decoration-thickness: 1px;
    text-decoration-style: dotted;} /* Inicio de la animación */
  50% {
    text-decoration-color: rgb(175, 175, 224); 
    text-decoration-thickness: 2px;
    text-decoration-style: dashed;} /* Cambio de color */
  100% {
    text-decoration-color: rgb(197, 197, 178); 
    text-decoration-thickness: 1px;
    text-decoration-style: solid;} /* Fin de la animación */
}
.space-gen{
    display: flex;
    margin-left: 20%;
    border-radius: 20px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #c7cfedb7;
    width: 60%;
    box-shadow: 5px 5px 40px #c7cfedb7;
    padding-bottom: 40px;
    padding-top: 30px;
}
h1 {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 2px;
}
.div-form {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    background-color: #8526291a;
    border-radius: 2px;
    box-shadow: 5px 5px 10px #ca79794a;
    padding-top: 20px;
    padding-bottom: 20px;
}
.div-list {
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    background-color: #8526291a;
    border-radius: 2px;
    box-shadow: 5px 5px 50px #ca79794a;
    padding-top: 10px;
    margin-top: 2%;
    padding-bottom: 10px;
}
#check {
    color: aqua;
    
}
#dform {
    display: flex;
    width:90%;
    justify-content: space-between;
    align-items: center;
}
#tarea_in {
    width: 80%;
    padding: 5px;
    font-size: 100%;
}
#add_in {
    display:block;
    width: 15%;
    padding: 5px;
    text-align: center;
    font-size: 100%;
}
#lista {
    width: 100%;
    padding: 5%;
}

.check:checked{
    opacity:1;
    transform: scale(1.2) rotate(360deg);
    transition: background-color 1s ease-in-out, transform 1s ease-in-out;
}
.check{
    opacity: 0.5;
    transition: background-color 1s ease-in-out, transform 1s ease-in-out;
}